// ============================================
// Footer — Animal Island Style
// 版权栏：© 年份 文案，默认浅灰、12px、上下居中留白
// ============================================

.footer {
    color: #807d75;
    font-size: 12px;
    padding: 16px 0;
    text-align: center;
}
